<!-- INTERPOLATION -->
<h2>String Interpolation</h2>
<h3>{{ 'Hola Mundo'.repeat(4) }}</h3>
<p>3 + 3 = {{ 3 + 3 }}</p>

<h3>{{ name }}</h3>
<p>soy {{ name }} y tengo {{ age }}</p>
<img src={{img}} alt="">

<hr>

<!-- PROPERTY BINDING - Es la forma en que podemos modificar atributos HTML -->
<h2>Property Binding</h2>
<button [disabled]="btnDisable">Button</button>
<input type="text" [value]="person.name">
<progress type="determinate" max="100" [value]="person.age" color="primary"></progress>
<img [src]=person.avatar alt="">

<hr>

<!-- EVENT BINDING - Manejar eventos -->
<h2>Event Binding</h2>
<button [disabled]="btnDisable">Enviar</button>
<button (click)="toggleButton()">Enviar</button>
<button (click)="addAge()">Aumentar edad</button>
<p>{{ age }}</p>
<progress max="100" [value]="age"></progress>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni veritatis ipsam voluptas porro corrupti, deserunt quaerat enim quae suscipit omnis, id facere libero? Accusamus distinctio ipsa natus aliquam deserunt aut? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis repellendus nesciunt consectetur odit, quis recusandae perferendis sed, laborum, corrupti omnis sapiente illo natus minus. Consectetur quod sint ad officia veniam.</p>
</div>

<input type="text" [value]="person.name" (keyup)="changeName($event)">


<hr>

<!-- DATA BINDING una funcion entre escuchar un evento y setiar una propiedad  -->
<h2>Data Binding - ngModel</h2>
<!-- Se debe habilitar el modulo de formularios -->
<input type="text" [(ngModel)]="computer.reference" required #computerInput="ngModel">
<p>Valida que el input es requerido: {{ computerInput.valid }} - {{ computer.reference }}</p>

<input type="number" [(ngModel)]="computer.price" required min="18" max="30" #priceInput="ngModel">
<p>Valida que el input es requerido: {{ priceInput.valid }}</p>

<hr>


<!-- ESTRUCTURAS DE CONTROL -->
<h2>Estructuras de control</h2>
<h3>*ngIf</h3>
<input type="text" [(ngModel)]="computer.reference" required>
<p *ngIf="computer.reference === 'Acer'">Referencia marca: Acer</p>
<p *ngIf=" computer.reference === 'Asus'; else elseBlock">Referencia marca: Asus</p>
<ng-template #elseBlock>
  <p>Bloque del else</p>
</ng-template>

<h3>*ngFor</h3>
<ul>
  <li *ngIf="names.length === 0">No hay nombres en la lista</li>
  <li *ngFor="let nombre of names; index as i">
    {{ i }} - {{ nombre }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
